a:hover {
  cursor: pointer;
}

.contributor-image {
  width: 100%;
  border-radius: 50%;
}

/* Spinner */
.loading-container {
  padding: 100px 0;
  width: 48px;
}

.loader {
  margin: 0 0 2em;
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}

/*
  Set the color of the icon
*/
svg path,
svg rect {
  fill: #FF6700;
}

/* Footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.5rem;
  background-color: #F7F7F7;
}

/* Override bootstrap settings */
html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  padding-bottom: 6rem;
}
.card {
  margin: 5px 0;
  border: none;
}
